.password {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: #727272;
}
.password__input {
  display: block;
  text-transform: none;
  width: 100%;
  height: 42px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #b6b6b6;
  font-weight: 400;
  color: #212121;
}
.password__input:focus, .password__input:active {
  border-color: #00bcd4;
  outline: 0;
}
.password__show {
  cursor: pointer;
  position: absolute;
  bottom: 11px;
  height: 16px;
  right: 0;
  background: #727272;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.8em;
}
.password__strength {
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -8px;
  left: 0;
  background: transparent;
  transition: all 300ms ease-in-out;
}
.password__strength[data-score="null"] {
  width: 0;
  background: red;
}
.password__strength[data-score="0"] {
  width: 5%;
  background: #f44336;
}
.password__strength[data-score="1"] {
  width: 25%;
  background: #f44336;
}
.password__strength[data-score="2"] {
  width: 40%;
  background: #ffeb3b;
}
.password__strength[data-score="3"] {
  width: 61%;
  background: #4caf50;
}
.password__strength[data-score="4"] {
  width: 70%;
  background: #4caf50;
}

.item_card{

background: #0a95cc;
border: .3px solid grey;
border-radius: 5px;
max-width:250px;
height: 200px;
text-align: center;
color:black;

}
.action-icon{
  cursor: pointer;
}
.action-icon:hover{
  color: #f44336;
}